a {
  text-decoration: none;
  color: #ffffff;
}

button {
  outline: none;
}

.content {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.wrapper {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

h3 {
  font-family: Montserrat-Bold, sans-serif;
  color: #333333;
  font-size: 22px;
  font-weight: 700;
  text-align: center;

}
