.header {
  margin-right: auto;
  margin-left: auto;
  position: relative;
  background: url("../img/promo.png") no-repeat;
  background-size: cover;
  height: 700px;
}

.logo {
  letter-spacing: 1px;
  padding-top: 48px;
  padding-left: 9px;
  font-family: Montserrat-Regular, sans-serif;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
}

.authorisation {
  font-family: Montserrat-Regular, sans-serif;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  display: inline-block;
  position: absolute;
  top: 38px;
  right: 11px;

  &__sign-up {
    border: 2px solid #ffffff;
    background-color: transparent;
    border-radius: 36px;
    height: 36px;
    width: 90px;
    float: right;
  }
  &__sign-up:hover {
    border: none;
    background-color: #ff4e50;
    border-radius: 36px;
    height: 36px;
    width: 90px;
    float: right;
  }
  &__log-in {
    background-color: transparent;
    border-radius: 36px;
    height: 36px;
    width: 90px;
    float: right;
    border: none;
  }
  &__log-in:hover {
    border: none;
    color: #ff4e50;
    float: right;
  }
}

.authorisation button {
  color: #ffffff;
  font-family: Montserrat-Regular, sans-serif;
  font-size: 14px;
  font-weight: 700;
}

